<?xml version="1.0"?>
<config>
    <modules>
        <WeCode_SalesRuleFix>
            <version>1.0.0</version>
        </WeCode_SalesRuleFix>
    </modules>
    <global>
        <models>
            <salesrule>
                <rewrite>
                    <rule_condition_product_subselect>Wecode_SalesRuleFix_Model_Subselect</rule_condition_product_subselect>
                </rewrite>
            </salesrule>
        </models>
    </global>
</config>